name: Conventional Commit Check

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  conventional-commit-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Check commits
        uses: webiny/action-conventional-commits@v1.3.0